<body style="max-width: 1860px;">
    <%= render "site/header" %>

    <div style="height:600px; display:flex; justify-content: center; margin:50px 0px">
        <div style="max-height:100%; max-width:1270px; display:flex; justify-content: center;">
            <div class="inform" style="padding-right: 60px">
                <h1>CHECKOUT</h1>
                <h5>Delivery Address</h5>
                <form class="needs-validation" novalidate="">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="firstName" placeholder="John" value="" required="" style="height:45px">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="lastName" placeholder="Wick" value="" required="" style="height:45px">
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>

                        <div class="col-12">
                            <input type="text" class="form-control" id="address" placeholder="Street 32, Pasror road, Daska" required="" style="height:45px">
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>

                        <div class="col-12">
                            <input type="text" class="form-control" id="address2" placeholder="N/A" style="height:45px">
                        </div>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="firstName" placeholder="*51010" value="" required="" style="height:45px">
                            <div class="invalid-feedback">
                               * Valid first name is required.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="lastName" placeholder="*Sialkot" value="" required="" style="height:45px">
                            <div class="invalid-feedback">
                               * Valid last name is required.
                            </div>
                        </div>

                        <div class="col-12">
                            <input type="text" class="form-control" id="address2" placeholder="+923445676890" style="height:45px">
                            <div class="invalid-feedback">
                                Please enter your phone number.
                            </div>
                        </div>

                    </div>

                    <div style="width:100%; display:flex; justify-content: space-between; padding-top: 110px">
                        <div style="display:flex; align-items: center;">
                            <span><%= image_tag("arrow_img", size: "10x15")%></span>
                            <span>Go back to cart</span>
                        </div>
                        <button class="checkout-btn" type="submit">Save And Continue</button>
                    </div>
                </form>
            </div>
            <div class="pic">
                 <%= image_tag("checkout", size: "600x550")%>
            </div>
        </div>
    </div>
    
    <%= render "site/footer" %>
</body>